# Python cache
__pycache__/
*.pyc
*.pyo

# Logs
*.log

# Odoo compiled assets
*.min.js
*.min.css

# Odoo sessions, file store, and temp folders
filestore/
sessions/
tmp/
tmp/**
*.swp
*.tmp

# Python virtual environment
venv/
env/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Packaging
*.egg-info/
